.navPages{
    text-decoration: none !important;
    font-family: 'Prata', serif;
    font-size: 16pt;
    font-weight: 300;
    font-style: normal;

}

.navSubpages{
    text-decoration: none;
    font-family: 'Brandon-grotesque', sans-serif;
    font-size: 8pt;
    font-weight: 100;
    font-style: normal;

}
